.brands-gallery {
    background-color: $main_bg_color;
    overflow-x: hidden;

    &::before {
        content: "";
        display: block;
        height: 1px;
        background-color: $decor_color_blue;
    }

    &__content {
        @media (min-width: $medium_screen) {
            display: flex;
            padding-top: 16px;
            flex-wrap: wrap;
            overflow-y: hidden;
            justify-content: space-between;
        }
    }

    &__logo {
        display: flex;
        margin-left: 16px;
        margin-right: auto;
    }

    &__view-more-button {
        display: none;

        @media (min-width: $medium_screen) {
            display: flex;
            margin: 15px 0 24px 16px;
        }
    }

    &__swiper {
        padding: 12px 0 0 12px;

        .swiper-wrapper {
            display: flex;

            @media(min-width: $medium-screen) {
                flex-wrap: wrap;
                height: 165px;
            }
        }

        .swiper-slide {
            display: flex;
            width: 240px;
            height: 70px;
            border: 1px solid $decor_color_gray;
            border-radius: 6px;
            background-color: white;
            align-items: center;
            justify-content: space-between;

            &::after {
                content: "";
                display: flex;
                width: 40px;
                height: 40px;
                border: 2px solid $nav_button_bg_color;
                border-radius: 50%;
                margin-right: 16px;
                background: url("img/pink-arrow.svg") no-repeat 55% 50%;
                transition: 0.3s ease-out;
            }

            &:hover {
                &::after {
                    background: url("img/white-arrow.svg") $nav_button_bg_color no-repeat 55% 50%;
                }
            }

            @media(min-width: $medium-screen) {
                width: 230px;
                height: 70px;
                margin-right: 20px;
                margin-bottom: 20px;
            }
        }

        .swiper-pagination {
            display: none;

            @media (max-width: $medium-screen) {
                display: block;
                position: relative;
                top: 5px;
                margin-bottom: 20px;
            }
        }

        .swiper-pagination-bullet-active {
            color: white;
            background-color: #B5B6BC;
        }

        .swiper-pagination-bullet {
            background-color: #DDDDDD;
        }
    }
}