.feedback-form {
    position: fixed;
    top: 0;
    right: 0;
    display: none;
    flex-direction: column;
    width: 320px;
    min-height: 100vh;
    background-color: white;
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
    z-index: 10;

    @media(min-width: $medium_screen) {
        width: 440px;
    }

    &--active {
        display: flex;
    }

    &__close-button {
        margin: 24px 0 24px 16px;

        @media(min-width: $medium_screen) {
            margin: 24px 0 -50px -60px;
        }
    }

    &__form {
        padding: 16px;
    }

    &__header {
        margin: 16px 0;
        padding-left: 16px;
        justify-content: space-between;
        font-size: 28px;
        font-weight: 900;
        letter-spacing: -0.6px;
        border-left: 4px solid $decor_color_blue;
    }

    &__input-tel,
    &__input-name,
    &__input-email {
        width: 100%;
        padding: 12px 16px;
        margin-bottom: 16px;
        font-family: $font-family;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: $text_color_light;
        border: 2px solid $decor_color_gray;
        border-radius: 6px;
    }

    &__text {
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        color: $text_color_light;
        margin-bottom: 16px;
    }

    &__link {
        color: $nav_button_bg_color;
        text-decoration: none;
    }

    &__button {
        float: right;
        width: 120px;
        height: 30px;
        border-radius: 16px;
        padding-left: 12px;
        text-align: left;
        color: white;
        font-family: $font-family;
        font-size: 12px;
        line-height: 24px;
        letter-spacing: -0.15px;
        text-transform: uppercase;
        font-weight: 900;
        border: 0;
        background: url("img/white-arrow.svg") $nav_button_bg_color no-repeat 90% 50%;
        background-size: 7px 9px;
        transition: 0.3s ease-out;

        &:hover {
            opacity: 0.5;
            cursor: pointer;
        }
    }
}