$main_bg_color: #F8F8F8;
$nav_button_bg_color: #FF3E79;
$text_color_dark: #1B1C21;
$text_color_light: #7E7E82;

$font-family: "TT Lakes", "Verdana", sans-serif;

$decor_color_blue: #41F6D7;
$decor_color_gray: #EAEAEA;

$x-large-screen: 1439px;
$large_screen: 1119px;
$medium_screen: 767px;
$small_screen: 319px;